body {
  --text-color: #232323;
  --text-orange: #ff7f00;
  --text-red: #f00;
  --text-light-black: #555;
  margin: 0;
  padding: 0;
  ul, li, img, p {
    padding: 0;
    margin: 0
  }
  img {
    display: block;
  }
  div {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: var(--text-color)
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-bold {
  font-weight: bold !important
}

.text-black {
  color var(--text-color) !important
}

.text-orange {
  color: var(--text-orange) !important
}

.text-red {
  color: var(--text-red) !important
}

.text-light-black {
  color: var(--text-light-black) !important
}

.form-tips-gray {
  color #999
  font-size: 13px
}

#app {
  font-family: 'Microsoft Yahei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-color);
  width: 100%;
  height: 100vh;  
}

.border--bottom {
  border-bottom: 1px solid #f9f9f9
}

.top-bar {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e3e3e3;
  .header {
    width: 1200px;
    height: 36px; 
    margin: 0 auto; 
    display: flex;
    line-height: 36px;
    font-size: 12px
    .info {
      flex-grow: 3;
      text-align: left
    }
    .nav {
      flex-grow: 1
    }
  }
}

.footer {
  min-width: 1200px; 
  width: 100%; 
  background-color: #333;
  padding: 30px 0 20px;
  text-align: center;
  line-height: 30px;
  a {
    color: #f4f4f4;
    margin: 0 8px;
    &:hover {
      color: white
    }
  }
  p {
    color: #b0b0b0;
    font-size: 13px
  }
}

.form-section {
  width 960px
  margin-left 28px
  border-radius 3px
  min-height 500px
}

.section-group {
  .title {
    position relative
    text-align left
    margin-bottom 20px
    color #666
    span {
      display inline-block
    }
    &:after {
      content ''
      position absolute
      left 120px
      right 10px
      top 10px
      border-bottom 1px solid #ececec
    }  
  }
}

.bg-white {
  background-color white
  padding 15px
}

.margin-bottom {
  margin-bottom 15px
}

.form {
  width 350px
  margin 40px 0 50px 50px
  >>>.el-form-item__content {
    max-width 300px
  }
  .el-cascader, .el-select {
    width 100%
  }
}

.margin-auto {
  margin 0 auto
}

.margin-top {
  margin-top 15px
}

.padding{
  padding 10px 15px
}

.font-13 {
  font-size 13px
}

.inline {
  .el-form-item__content {
    display flex
    .el-select, .el-input {
      width 200px
      margin-right 15px
    }
  }
}

.inline--large {
  .el-form-item__content {
    display flex
    .el-select, .el-input {
      width 280px
      margin-right 15px
    }
  }
}

.avatar-uploader {
  .el-upload {
    border 1px dashed #d9d9d9
    border-radius 6px
    cursor pointer
    position relative
    overflow hidden
  }
  .el-upload:hover {
    border-color #409EFF
  }
  .avatar-uploader-icon {
    font-size 28px
    color #8c939d
    width 178px
    height 178px
    line-height 178px
    text-align center
  }
  .avatar {
    width 178px
    height 178px
    display block
  }
}

.pagination {
  padding-top 45px
  text-align right
}

.pagination-section {
  margin-top 30px
  display flex
  align-items center
  .el-pagination {
    flex 1
    text-align right 
  } 
}

.el-form-item__error {
  padding 4px 10px 0 10px
}

.manage-form {
  width 550px
  margin 0 auto
}

.code {
  display flex
  align-items center
  justify-content center
  /* border 1px solid #DCDFE6 */
  border-radius 4px
  height 40px
  padding 0 10px
  max-width 130px
  img {
    width 100%
  }
}

/** */

.el-tabs__header {
  background-color white
  padding 0 20px
}

.el-tabs__active-bar {
  background-color #ff5000
}

.el-tabs__item {
  &.is-active, &:hover {
    color #ff5000
  }
}

/** */
.base-blue {
  .el-tabs__header {
    background-color white
    padding 0 20px
  }

  .el-tabs__active-bar {
    background-color #1989fa
  }

  .el-tabs__item {
    &.is-active, &:hover {
      color #1989fa
    }
  }
}
